.cart-container {
  padding: 20px;
}

.cart-card {
  display: flex;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  background: white;
  align-items: center;
}

.cart-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.qty-box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.qty-box button {
  padding: 5px 10px;
  background: #2874f0;
  color: white;
  border: none;
  cursor: pointer;
}

.remove {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}