.checkout-page {
  background: #f1f3f6;
  min-height: 100vh;
  padding: 30px;
}

.checkout-container {
  display: flex;
  gap: 20px;
}

/* LEFT */
.checkout-left {
  flex: 2;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.checkout-left h2 {
  margin-bottom: 15px;
}

.checkout-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* RIGHT */
.checkout-right {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.price-box {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.place-btn {
  width: 100%;
  padding: 12px;
  background: #fb641b;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}

/* CART ITEM */
.cart-preview {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.cart-preview img {
  width: 70px;
}